@page "/tickets"
@rendermode InteractiveServer

<PageTitle>پشتیبانی</PageTitle>


<div class="row">
    <div class="col">
        <h1 class="h3">مدیریت تیکت ها</h1>
        <hr/>

    </div>
</div>


@code {

}