@page "/providers"
@rendermode InteractiveServer

<PageTitle>پذیرندگان</PageTitle>

<div class="row">
    <div class="col">
        <h1 class="h3">مدیریت پذیرندگان</h1>
        <hr/>

    </div>
</div>



@code {

}
