@page "/customers"
@* @rendermode InteractiveServer *@
@* *@
@* <PageTitle>مشتریان</PageTitle> *@
@* *@
@* <div class="row"> *@
@*     <div class="col"> *@
@*         <h1 class="h3">مدیریت مشتری</h1> *@
@*         <hr/> *@
@* *@
@*     </div> *@
@* </div> *@
@* *@
@* *@
@* @code { *@
@* *@
@* } *@
