@page "/Error"
@using System.Diagnostics

<PageTitle>خطا</PageTitle>

<div class="row">
    <div class="col">

        <h1 class="h3 text-danger">خطا!</h1>
        <hr/>
        <h2 class="h4 text-danger mb-3">در هنگام پردازش درخواست شما، خطایی رخ داده است.</h2>

        @if (ShowRequestId)
        {
            <p class="mb-4">
                <strong>شناسه درخواست:</strong> <code>@RequestId</code>
            </p>
        }

    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
