@* @inject Randomizer randomizer

<div>عدد تصادفی: @randomizer.RendomNumber(10000, 11110100) </div>
<div class="counter-red">عدد تصادفی: @RandomNumberGenerator.RendomNumber(123123, 62334523) </div>
<div class="counter-blue">عدد تصادفی: @GetRandomNumber() </div>

<div class="col">
    <button class="btn btn-sm btn-warning" @onclick="ShowAlert">نمایش آلرت</button>
</div>


 *@